:root {
    --main-color: #212842;
    --text-color: #F0E7D5;
    --button-color: #715DA1;
    --points-color: #9384BB;
    --leaderboard-color: #9D578A;
    --hover-color: #5a4a81;
    --codebox-color:#0C101F;
    --body-text: 16px;
    --heading-text: 32px;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "2p";
    src: 
        local("Press Start 2P"),
        url("fonts/Press_Start_2P/PressStart2P-Regular.ttf"),
        url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
}

#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--main-color);
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: bottom;
}

p {
    line-height: 22px;
}

p, h1{
    font-family: "2p";
    color: var(--text-color);
}

.continue-button {
    height: 40px;
    font-family: "2p";
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 4px;
    border: none;

    cursor: pointer;
}

.continue-button:hover {
    background-color: var(--hover-color);
}

button {
    font-family: "2p";
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
}

button:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

h2 {
    font-family: "2p";
    color: var(--text-color);
    /* margin-top: 64px;
    margin-bottom: 24px; */
    font-size: 16px;
    color: var(--points-color);
}