#leaderboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 0;
}

#leaderboard-content h1 {
    margin-top: 48px;
    margin-bottom: 32px;
}

#leaderboard-list {
    overflow-y: scroll;
    width: 610px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.leaderboard-item {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;


    background-color: var(--leaderboard-color);
}

.leaderboard-item div {
    display: flex;
}

#level-points {
    justify-content: space-between;
    width: 282px;
}

#player-pos {
    justify-content: start;
    gap: 32px;
    width: 219px;
}

.leaderboard-item p {
    /* flex-grow: 1; */
    margin: 0;
}

.player #leaderboard-player {
    color: #8BCFE9;
}

#leaderboard-pos {
    flex-basis: 45px;
}