#flex {
    display: flex;
    gap: 16px;
    align-items: end;
    justify-content: center;
}

#real-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

#code-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 610px;
}

/* #code-content {
    margin-top: 0px;
    margin-bottom: 32px;
} */

#code-description {
    margin-top: 0px;
    margin-bottom: 16px;
}

#code-content h2 {
    margin-top: 32px;
    margin-bottom: 16px;
}

textarea {
    width: 100%;
    height: 295px;
    border-radius: 8px 8px 0 0;

    background-color: var(--codebox-color);
    border: none;
    color: var(--text-color);
    font-family: monospace;

    margin-bottom: 4px;
    padding-top: 8px;
    padding-right: 12px;
    padding-left: 12px;
    resize: none;
}

#reload-container {
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-right: 4px;
    height: 35px;
    width: 100%;
    border-radius: 0 0 8px 8px;
    background-color: var(--codebox-color);
}

#reload {
    background-image: url("../../images/reload.svg");
    background-repeat: no-repeat;
    background-position: center;

    height: 22px;
    width: 22px;
}

#reload:hover {
    cursor: pointer;
}

 #run-code {
    margin: 0;
    font-size: 12px;
    padding-left: 8px;
}

#run-code:hover {
    cursor: pointer;
}

.answered-correct {
    border: 3px solid var(--correct-answer);
    color: var(--correct-answer);
}

.answered-incorrectly {
    border: 3px solid var(--wrong-answer);
    color: var(--wrong-answer);
}


#user-code-area {
    background-color: white;
    width: 295px;
    height: 336px;
    border-radius: 8px;
    padding: 8px;
}

.user-code {
    all: revert;
    margin: 0;
}

#user-button {
    all: revert;
}

#user-button:hover {
    cursor: pointer;
}

#user-p {
    margin-bottom: 4px;
}